<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main class="container">
        <div class="topbar mt-3 d-flex align-content-center">
            <button class="btn btn-outline-primary">Go Back</button>
            <span class="ms-3 fs-4">Suggested Resume</span>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <form action="">
                <div class="added-resume row w-75 mx-auto mt-3">
                    <div class="single-resume col-3">
                        <img src="images/Resume1.png" alt="">
                        <input type="radio" name="cv" value="1" id="resume1"><label for="resume1"> Resume1</label>
                    </div>

                    <div class="single-resume col-3">
                        <img src="images/Resume1.png" alt="">
                        <input type="radio" name="cv" value="2" id="resume2"><label for="resume1"> Resume2</label>
                    </div>

                    <div class="single-resume col-3">
                        <img src="images/Resume1.png" alt="">
                        <input type="radio" name="cv" value="3" id="resume3"><label for="resume1"> Resume3</label>
                    </div>

                    <div class="single-resume col-3">
                        <img src="images/Resume1.png" alt="">
                        <input type="radio" name="cv" value="4" id="resume4"><label for="resume1"> Resume4</label>
                    </div>

                    <div class="suggest-review-buttons d-flex justify-content-center">
                        <a href="preview.html" type="submit" class="btn mx-2 mt-5 w-25 btn-primary px-5">Preview</a>
                        <button type="submit" class="btn mx-2 mt-5 w-25 btn-primary px-5">Customize</button>
                        <a href="user_dashboard.html" type="submit"
                            class="btn mx-2 mt-5 w-25  btn-primary px-5">Save</a>
                    </div>

                </div>
            </form>
        </div>

    </main>
</body>

</html>